{% extends 'base.html' %} {% block content %} {{ content|safe }} {% load static %}
<div class="container-fluid header-style1 shadow-sm mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="mb-0 text-center" style="padding: 1em; text-shadow: 2px 2px 20px #252c33;">Agile electrical engineer with a
                    passion for propelling cutting-edge technology.</h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-5">
        <div class="col-lg-3">
            <h2 class="text-muted">About Me</h2>
        </div>
        <div class="col-lg-9 pt-1">
            <p class="text-justify">
                Hi, my name is Alex and I'm an electrical engineer living in Chicago, IL. I have extensive applied experience primarily in
                unmanned aerial systems with a skillset ranging from electrical hardware design and fabrication to embedded and consumer-facing
                software development. I'm currently working on expanding my embedded system knowledge and playing
                with autonomous aerial robotics on the side.
                <br><br> If you'd like to see bit of what I've worked on, please check out the selection of projects shown
                below!
                <!--<br><br>
                Thanks for stopping by! If you have questions, please feel free <a href="#" class="btn btn-outline-dark btn-sm">contact me</a>-->
            </p>
        </div>
    </div>
</div>
<div class="container-fluid bg-light mb-5 p-0">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="max-height: 150px">
        <div class="carousel-inner">
                <div class="carousel-item active">
                        <div class="d-block w-100" style="background: #000; height: 150px"></div>
                        <div class="carousel-caption d-none d-md-block p-4" style="bottom: 35px">
                            <h3 class="m-0">Projects</h3>
                        </div>
                    </div>
            {% for project in projects %}
            <div class="carousel-item" style="overflow: hidden; height: 150px">
                <img class="d-block w-100" src="" alt="First slide">
                <div class="carousel-caption d-none d-md-block p-4" style="bottom: 35px">
                    <h3 class="m-0">{{ project.title }}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container">
    <div class="row mb-5">
        <div class="col-lg-3">
            <h2 class="text-muted">Work</h2>
        </div>
        <div class="col-lg-9 pt-1" style="margin-bottom: -1.5rem">
            {% for job in jobs.all %}
            <div class="mb-4">
                <h5 class="text-muted mb-0">{{ job.title }}</h5>
                <p class="mb-0">{{ job.employer }} &mdash; {{ job.started|date:"F Y" }} - {{ job.ended|date:"F Y" }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row mb-5">
            <div class="col-lg-3">
                <h2 class="text-muted">Skills</h2>
                <p class="text-muted">Select a skill to see more information.</p>
            </div>
            <div class="col-lg-6 pt-1">
                <div class="list-group list-group-flush" style="margin-top: -25px;" id="list-tab" role="tablist">
                    {% for skill_category in skill_categories %}
                    <h5 class="text-muted p-1 mt-3">{{ skill_category.name }}</h5>
                    {% for skill in skill_category.skills.all %}
                    <a class="list-group-item list-group-item-action" id="list-{{ skill.slug }}-list" data-toggle="list" href="#list-{{ skill.slug }}"
                        role="tab" aria-controls="{{ skill.slug }}">{{ skill.name }} {% for sub_skill in skill.sub_skills.all %}
                        <span class="badge badge-secondary">{{ sub_skill.name }}</span>{% endfor %}</a>
                    {% endfor %} {% endfor %}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="tab-content sticky-top" style="top: 20px" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="list" role="tabpanel" aria-labelledby="list-list">
                        <p class="text-muted p-2"><small><i>No skill selected</i></small><p>
                    </div>
                    {% for skill in skills.all %}
                    <div class="tab-pane fade text-muted" id="list-{{ skill.slug }}" role="tabpanel" aria-labelledby="list-{{ skill.slug }}-list">
                        {% if skill.related_projects.all.count > 0 %}
                        <h5>Related projects</h5>
                        <p class="mb-4">
                            {% for project in skill.related_projects.all %}
                            <a href="/project/{{ project.id }}">{{ project.title }}</a><br> {% endfor %}
                        </p>
                        {% endif %}
                        <h5>More information</h5>
                        <p>
                            {{ skill.more_info|default:"None provided."|safe }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    <div class="row mb-5">
        <div class="col-lg-3">
            <h2 class="text-muted">Education</h2>
        </div>
        <div class="col-lg-9 pt-1">
            {% for education in educations.all %}
            <div class="mb-4">
                <h5 class="text-muted mb-0">{{ education.degree }}</h5>
                <p class="mb-0">{{ education.school }} &mdash; {{ education.started|date:"F Y" }} - {{ education.ended|date:"F Y" }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-3">
            <h2 class="text-muted">Activities</h2>
        </div>
        <div class="col-lg-9 pt-1">
            <ul class="list-group list-group-flush">
                {% for activity in activities %}
                <li class="list-group-item">{{ activity.title }}, <a href="{{ activity.organization_url }}" target="_new">{{ activity.organization }}</a>
                    <span class="text-muted">&mdash; {{ activity.when }}</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-3">
            <h2 class="text-muted">Honors</h2>
        </div>
        <div class="col-lg-9 pt-1">
            <ul class="list-group list-group-flush">
                    {% for honor in honors %}
                    <li class="list-group-item">{{ honor.title }}, {{ honor.organization }}
                        <span class="text-muted">&mdash; {{ honor.when }}</span></li>
                    {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}