{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container-fluid text-white pb-3" style="background-position-y: center; background-size: cover;padding-top: 200px; background-position: center; background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.7)), url('{{ project.featured_images.all.0.image.url }}');border-bottom: 2px solid #eee;">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="badge badge-secondary mb-3" style="padding: 10px;">Synopsis</div>
                <h3>{{ project.title }}</h3>
                <div>{{ project.abstract|safe }}</div>
            </div>
            <div class="col-lg-3">
                <div class="p-2" style="position: relative">
                    <img src="{{ project.logo.url }}" style="max-width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="mb-5">
        <h4>Project Summary</h4>
        <p class="card-text text-justify">{{ project.description|safe }}</p>
    </div>
</div>

{% if project.documents.count or project.images.count %}
<div class="container-fluid bg-light" style="padding: 1.5em">
    <div class="container mb-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="badge badge-secondary mb-3" style="padding: 10px;">Media</div>
            </div>
        </div>
        <div class="row d-flex align-items-center flex-wrap px-2">
                {% for img in project.images.all %}
                <div class="w-25 flex-fill h-auto align-middle col-lg-3 mb-3 px-2" style="max-height: 180px; overflow: hidden;">
                    <a href="{{ img.image.url }}" data-toggle="lightbox" data-gallery="project-media-gallery"
                    class="">
                        <img src="{{ img.image.url }}" style="width: 100%; min-height: 180px;">
                    </a>
                </div>
                {% endfor %}

                {% if project.videos.count %}
                    {% for video in project.videos.all %}
                    <div class="w-25 flex-fill h-auto align-middle col-lg-3 mb-3 px-2" style="max-height: 180px; overflow: hidden; max-width: 25%">
                        <a href="{{ video.url }}" data-toggle="lightbox" data-gallery="project-media-gallery">
                            <img src="{{ video.thumbnail.url }}" style="width: 100%; min-height: 180px; max-height: 420px">
                        </a>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="badge badge-secondary mb-3" style="padding: 10px;">Documents</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-group">
                    {% for doc in project.documents.all %}
                    <a href="{{ doc.url }}" class="list-group-item"><i class="fas fa-download"></i> {{ doc.name }}</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}