{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container-fluid header-style1 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="mb-0">{{title}}</h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% for project in projects %}
    <div class="mb-5">
        <h2 class="display-4">{{ project.title }}</h2>
        <p class="card-text text-justify">{{ project.abstract|safe }}</p>
        <a href="/project/{{project.id}}" class="btn btn-primary">View Project</a>
    </div>
    {% endfor %}
</div>
{% endblock %}


<!--
<div class="card mb-3">
        <div class="card-body w-100">
            <div class="d-block w-70">
                <h5 class="card-title">{{project.title}}</h5>
                <p class="card-text">{{project.body}}</p>
                <a href="/project/{{project.id}} " class="btn btn-primary">View Project</a>
            </div>
        </div>
    </div>
-->